{
  "name": "@redriver/${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/RedRiverSoftware/mortar-rs.git"
  },
  "author": "Luke Foreman <github@4man.dev>",
  "homepage": "https://github.com/RedRiverSoftware/mortar-rs#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
